---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ResearchFocus from '../components/ResearchFocus.astro';
import PublicationsProjects from '../components/PublicationsProjects.astro';
import Achievements from '../components/Achievements.astro';
import Affiliations from '../components/Affiliations.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Alejandro Carrasco - AI Researcher & Robotics Engineer">
  <Header />
  <main>
    <Hero />
    <ResearchFocus />
    <PublicationsProjects />
    <Achievements />
    <Affiliations />
    <Contact />
  </main>
  <Footer />
</Layout>