---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ResearchFocus from '../components/ResearchFocus.astro';
import Publications from '../components/Publications.astro';
import Projects from '../components/Projects.astro';
import AwardsList from '../components/AwardsList.astro';
import Affiliations from '../components/Affiliations.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Alejandro Carrasco - AI Researcher & Robotics Engineer | MIT ARC Lab">
  <Header />
  <main>
    <Hero />
    <ResearchFocus />
    <Publications />
    <Projects />
    <AwardsList />
    <Affiliations />
    <Contact />
  </main>
  <Footer />
</Layout>